.body {
 font-family: 'Roboto', sans-serif;
 margin: 0;
}

.wrapper {
 margin: auto;
 width: 80%;
}

.header__logo {
 display: inline-block;
}

.menu {
 display: flex;
 align-items: center;
}

.header__logo {
 width: 190px;
 height: 35px;
 background: no-repeat url('img/logo.svg');
}

.header {
 padding: 40px 0 40px 0;
 display: flex;
 justify-content: space-between;
}

.menu__item {
 padding: 0 13px;
}

.main-content__title {
 font-family: pt_serif, arial, helvetica, sans-serif;
 font-weight: bold;
 font-size: 50px;
 line-height: 66px;
}
