body {
 margin: 0;
 font-family: 'Roboto', sans-serif;
}

.wrapper {
  margin:0 201px 0 196px;
  width: 80%;
}

.header__logo {
 width: 190px;
 height: 35px;
 background: url('img/logo.svg');
}

.menu {
 display: flex;
 align-items: center;
}

.header {
 padding: 40px 0;
 display: flex;
 justify-content: space-between;
}

.menu__item {
 position: relative;
 margin-right: 26px;
 font: 18px/21px robotomedium, arial, helvetica, sans-serif;
 color: #000;
 text-decoration: none;
 transition: opacity .5s;
}

.menu__item:last-child {
 margin-right: 0;
}

.menu__item:first-child {
 margin-right: 25px;
}

.menu__item_active::after {
 position: absolute;
 left: 0;
 display: block;
 content: '';
 width: 100%;
 height: 3px;
 background: #0056EC;
 opacity: 0;
 transition: opacity .5s, width .5s;

}

.menu__item:hover {
 opacity: 0.5;
}

.menu__item:hover::after {
 position: absolute;
 left: 0;
 display: block;
 content: '';
 width: 100%;
 height: 3px;
 background: #0056EC;
}

.menu__item:hover::after, .menu__item_active::after {
 opacity: 1;
 width: 100%;
}

.main-content {
 padding-top: 170px;
 width: 37%;
}

.main-content__title {
 margin: 0 0 140px 0;
 font: 66px/85px pt_serifbold, arial, helvetica, sans-serif;
}

.main-content__subtitle {
 margin: 0 0 41px 0;
 font: 18px/21px Roboto, arial, helvetica, sans-serif;
}
