body {
 font-family: 'Roboto', sans-serif;
 margin: 0;
}

.wrapper {
 margin: auto;
 width: 80%;
}

.header__logo, .menu {
 display: inline-block;
 padding: 40px 0 40px 0;
}

.header__logo {
 padding: 40px 0;
 width: 190px;
 height: 35px;
 background: red;
}

.header {
 padding: 40px 0;
 display: flex;
 justify-content: space-between;
}

.menu__item {
 padding: 0 13px;
}
